body{
    background-size: contain;
    background-image: url("bg-main-desktop.png");
    background-repeat: no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    overflow: hidden;    
}

.containerf{
    display:inline-block;
    position: relative;
    margin-left: 100px;
    margin-top: 90px;
   
}

.containerv{
    
    margin-left: 250px;
    margin-top: 10px;
}

.containerd{
    color: hsl(278, 68%, 11%);
    width: 522px;
    margin-left: 50%;
    position: relative;
    top:-450px; 
    left: 50px;   
}

.containerd #texto{
    border: 1px solid gray;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
}

.containerd #numero{
    border: 1px solid gray;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
}

.containerd #ladoalado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.containerd #data{
    border: 1px solid gray;
    border-radius: 5px;
    width: 50px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#ladoalado #data{
    flex-grow: 3;
    text-align: center;
    
}

#confirme{
    text-align: center;
    border-radius: 5px;
    background-color: hsl(278, 68%, 11%) ;
    color:white;
    cursor: pointer;
    width: 502px;
    padding: 10px;
}

.containerf #num{
    position: absolute;
    font-size: 30px;
    top: 100px;
    left: 50px;
    color: white;
    
}

.containerf #titular{
    position: absolute;
    font-size: 20px;
    top: 170px;
    left: 50px;
    color: white;
}

.containerf #validade{
    position: absolute;
    font-size: 20px;
    top: 170px;
    left: 350px;
    color: white;
}

.containerv #cvc{
    position: absolute;
    font-size: 15px;
    top: 455px;
    left: 610px;
    color: white;
}

.containerd #codigo{
    border: 1px solid gray;
    border-radius: 5px;
    width: 160px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}







